extends layout

block content
  .row
    .column
      .search
        span.fa.fa-search
        input#query(type="text", name="query", placeholder="Suche")
  .row
    .column
      table
        thead
          tr
            th Gremium
            th Datum
            th Titel
            th Status
            if session.is_logged_in
              th Löschen
        tbody
          for el in resolutions
            tr
              td #{el.chamber}
              td #{moment(el.date).format("DD.MM.YYYY")}
              td
                a(href="/res/"+el.id) #{el.title}
              td= el.result
              if session.is_logged_in
                td
                  a.button(href="/admin/del/"+el.id) x
  
  script.
    var query
    $('#query').on('keypress', (e) => {
      if(e.key == 'Enter') {
        var q = $('#query').val()
        q = q.toLowerCase()
        document.location.assign('/s/'+q)
      }
    })
