html
  head
    title fzs - #{title}
    style.
      .button-small {
        font-size: .8rem;
        height: 2.8rem;
        line-height: 2.8rem;
        padding: 0 1.5rem;
      }
      
      textarea {
        white-space: pre-line;
      }
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css")
    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin="anonymous")
  body
    if is_logged_in
      p logged in
    .container
      if (messages.warning)
        .row
          .column
            p(style="color: red;")= messages.warning
      .row
        .column
          block header
            h1 Beschlussdatenbank
      .row
        .column
          a.button(href="/") Home
          a.button(href="/new", style="margin-left: 10px;") Neu
          if session.is_logged_in
            a.button(href="/logout", style="margin-left: 10px;") Logout
          else
            a.button(href="/login", style="margin-left: 10px;") Login
      block content
